.App {
  text-align: center;
  font-family: Montserrat, sans-serif;
  padding: 50px;

  img {
    border-radius: 50%;
  }

  tr {
    margin-bottom: 20px;
    background-color: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    display: grid;
    grid-template-columns: 4% 24% 24% 20% 28%;
    align-items: center;
    input {
      width: 130px;
      height: 38px;
      border: none;
      border-radius: 0.25rem;
    }
  }
  button {
    width: 120px;
  }
}

.checkin {
  background-color: green;
}
.checkout {
  background-color: grey;
}
